@model MyBookList.Models.Books

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <!--
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Score)*@
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.Score)*@
        </dd>
        -->
        <dt class = "col-sm-10">
            @Html.DisplayNameFor(model => model.GenresList)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var genre in Model.GenresList)
            {
                <span>@genre.Genre</span>
                if (genre != Model.GenresList.Last())
                {
                    <span>, </span>
                }
            }
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.AuthorsList)
        </dt>
        <dd class="col-sm-10">
            @foreach (var author in Model.AuthorsList)
            {
                <span>@author.Name</span>
                if (author != Model.AuthorsList.Last())
                {
                    <span>, </span>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
