@model IEnumerable<MyBookList.Models.Status>

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    <br/>

    <h2>A minha Lista</h2>

    <br style="margin:5% 0;" />

    <h4 style="color: #5eb0d6;">A Ler</h4>
    <table class="table" style="color:white;">
        <thead>
            <tr style="color:#5eb0d6;">
                <th>
                    Livro
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Crítica/Observação
                </th>
                <th>
                    Data de Edição do Usuário
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var status in Model){
                @if (status.State == "A Ler")
                {
                    <tr>
                        <td>
                        @status.Book.Title
                    </td>
                    <td>
                        @status.Book.Description
                    </td>
                    <td>
                        @status.Review
                    </td>
                    <td>
                        @status.ReviewDate
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>

    <br style="margin:10% 0;"/>

    <h4 style="color: #5eb0d6;">Leu</h4>
    <table class="table" style="color:white;">
        <thead>
            <tr style="color:#5eb0d6;">
                <th>
                    Livro
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Crítica/Observação
                </th>
                <th>
                    Data de Edição do Usuário
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var status in Model)
            {
                @if (status.State == "Leu")
                {
                    <tr>
                        <td>
                            @status.Book.Title
                        </td>
                        <td>
                            @status.Book.Description
                        </td>
                        <td>
                            @status.Review
                        </td>
                        <td>
                            @status.ReviewDate
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br style="margin:10% 0;" />

    <h4 style="color: #5eb0d6;">Planeia Ler</h4>
    <table class="table" style="color:white;">
        <thead>
            <tr style="color:#5eb0d6;">
                <th>
                    Livro
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Crítica/Observação
                </th>
                <th>
                    Data de Edição do Usuário
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var status in Model)
            {
                @if (status.State == "Planeia Ler")
                {
                    <tr>
                        <td>
                            @status.Book.Title
                        </td>
                        <td>
                            @status.Book.Description
                        </td>
                        <td>
                            @status.Review
                        </td>
                        <td>
                            @status.ReviewDate
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br style="margin:10% 0;" />

    <h4 style="color: #5eb0d6;">Desistiu</h4>
    <table class="table" style="color:white;">
        <thead>
            <tr style="color:#5eb0d6;">
                <th>
                    Livro
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Crítica/Observação
                </th>
                <th>
                    Data de Edição do Usuário
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var status in Model)
            {
                @if (status.State == "Desistiu")
                {
                    <tr>
                        <td>
                            @status.Book.Title
                        </td>
                        <td>
                            @status.Book.Description
                        </td>
                        <td>
                            @status.Review
                        </td>
                        <td>
                            @status.ReviewDate
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <meta http-equiv="refresh" content="0;url=@Url.Action("Index", "Home")" />
}